body {
    background-color: rebeccapurple;
}
#LoginForm {
    text-align: center;
    direction: rtl;
    background-color: yellow;
    padding: 20px;
    border-radius: 5px;
    margin-left: 550px;
    margin-right: 550px;
}
#RegisterForm {
    text-align: center;
    direction: rtl;
    background-color: yellow;
    padding: 20px;
    border-radius: 5px;
    margin-left: 450px;
    margin-right: 450px;
}



